  <div class = "container">
    <div class = "row">
      <div class = "col">
        <%= form_tag :clients_rakuten_search, method: :get do  %>
          <%= label_tag :keyword, 'キーワード検索' %>
          <%= text_field_tag 'keyword', params[:keyword] %>
          <%= submit_tag "検索" %>
        <% end %>
      </div>
    </div>
    <div class ="row">
      <div class = "col">
        <h2>検索結果</h2>
        <table class = "table">
          <% if @golf_courses.present? %>
            <% @golf_courses.each do |golf_course| %>
              <tr>
                <th></th><th></th>
              </tr>
              <tr>
                <td rowspan = "3">
                  <!--ゴルフ場画像-->
                   <%= image_tag golf_course.golf_course_image_url, style: "object-fit: cover; width: auto; height: 190px;" %>
                </td>
                <td >
                  <!--ゴルフコース名-->
                  <%= link_to golf_course.golf_course_name, golf_course.golf_course_detail_url %>
                  <!--%= golf_course.address %>-->
                </td>
              </tr>
              <tr>
                <td>
                  <!--ゴルフコース住所-->
                  <%= golf_course.address %>
                </td>
              </tr>
                <td>
                  <!--ゴルフコース説明-->
                  <%= golf_course.golf_course_caption %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
        </div>
      </div>
  </div>