<h1>会員一覧ページ</h1>
  <div class="container bg-light text-dark">
    <h4>▼会員一覧</h4>
    <div class="p-3 mb-2 bg-white text-dark">
      <div class="col-12">
        <table class="table table table-striped">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @clients.each do |client| %>
              <tr>
                <td><%= client.id %></td>
                <td>
                  <% if client.profile_image.attached? %>
                    <%= image_tag client.profile_image.variant(resize: '60x60'), class: "circle" %>
                  <% else %>
                    <%= image_tag "no_image.jpg", class: "circle"%>
                  <% end %>
                  <%= link_to client.name, admins_client_path(client.id), class: "client-name" %>
                </td>
                <td><%= client.email %></td>
                <td>
                  <% if client.client_status == false %>
                    有効
                  <% else %>
                    退会
                  <% end %>
                </td>
                <td>
                  <%= link_to "強制削除", admins_client_path(client.id), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-outline-danger bottom-right" %>
                </td>
              </tr>
            <% end %>
            <%= paginate @clients %>
          </tbody>
        </table>
      </div>
    </div>
  </div>