<!DOCTYPE html>
<html>
  <head>
    <title>GolfFriends</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/846ce04829.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <nav class ="navbar navbar-expand-lg navbar-dark bg-white" style = "text-black">
        <div class = "container">
          <% if client_signed_in? %>
            <%= link_to clients_path do %>
              <%= image_tag "golffriend_rogo.jpg", style: "object-fit: cover; width: auto; height: 80px;" %>
            <% end %>

          <% elsif admin_signed_in? %>
            <%= link_to "ゴルとも！", admins_clients_path, class: "nav-link text-dark" %>
          <% else %>
          <% end %>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">
              <% if client_signed_in? %>
                <li>
                 <%= link_to "マイページ", client_path(current_client), class: 'nav-link text-dark mr-3' %>
                </li>
                <li>
                  <%= link_to "ゴルフ場検索", clients_rakuten_search_path, class: 'nav-link text-dark mr-3'  %>
                </li>
                <li>
                  <%= link_to "ユーザー検索", new_client_path, class: 'nav-link text-dark mr-3' %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_client_session_path, method: :delete, class: 'nav-link text-dark mr-3' %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                 <%= link_to "ゴルフ場検索", root_path, class: 'nav-link text-dark mr-3' %>
                </li>
                <li>
                  <%= link_to "投稿一覧", admins_blogs_path, class: 'nav-link text-dark mr-3'  %>
                </li>
                <li>
                  <%= link_to "ユーザー一覧", admins_clients_path, class: 'nav-link text-dark mr-3' %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark mr-3' %>
                </li>
              <% else %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>

      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% end %>



      <%= yield %>
    </main>
    <footer>
      <div class = "container">
        <div class = "row">
          <div class = "col-12">
            <div class = "text-center">
              <p style = "display: inline-block;">
                <%= link_to "お問い合わせ", clients_inquiry_index_path, class: 'nav-link text-dark mr-3' %>
              </p>
              <p style = "display: inline-block;">
                <%= link_to "プライバシーポリシー", home_index_path, class: 'nav-link text-dark mr-3' %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
